<form ng-submit="addWorkgroup()" style="margin-top:30px;">
	<h3>Add a new workgroup</h3>

	<div class="form-group">
		<input type="text" 
					class="form-control" 
					placeholder="Name" 
					ng-model="workgroup.name"></input>
	</div>
	<div>
		<select ng-model="workgroup.classtype_id" 
				ng-options="item.id as item.name for item in classtypes"
				class="form-control">
    	<option value="">Select Class type</option>
		</select>
	</div>
	<br>
	<button type="submit" class="btn btn-primary">Create</button>
	<span >
		<a class="btn btn-primary" ui-sref="workgroups">Back</a>
	</span>
</form>